@using Registro.Models
@model Datos
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
Cedula:@Html.DisplayFor(y => y.Cedula)
Nombre:@Html.DisplayFor(y => y.Nombre)
Apellido:@Html.DisplayFor(y => y.Apellido)
Edad:@Html.DisplayFor(y => y.Edad)
Correo:@Html.DisplayFor(y => y.Correo)
Genero:@Html.DisplayFor(y => y.Genero)
Estatud:@Html.DisplayFor(y => y.Estado)
Hobby:@Html.DisplayFor(y => y.Hobby)

